@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

::before,
::after {
  box-sizing: border-box;
}

/* Fonts*/

.header-menu-font, .input-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.user-menu-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.titles-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.subtitles-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.buttons-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.price-font, .img-title  {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.form-field  {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}


/*Header*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.body-container {
  margin: 0;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: #feafc3;
  padding: 22px 0 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

 .catalog-select-wrapper,
.search-field-wrapper,
.login-window-popover,
.popover {
  display: none;
}

.catalog-select-wrapper {
  width: 135px;
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  padding: 20px 16px;
  box-sizing: border-box;
}

.catalog-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-menu-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.nav-logo {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 34px;
}

.service-navigation {
  display: flex;
  width: 685px;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-menu-link,
.catalog-select {
  color: #000000;
  text-decoration: none;
}

.header-menu-link {
  padding: 19px 18px 18px 16px;
}

.catalog-select {
  position: relative;
  padding-right: 37px;
  padding-top: 19px;
  padding-bottom: 19px;
}

.catalog-select::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 7px;
  background-image: url(../images/icons/arrow-down.svg);
  position: absolute;
  right: 17px;
  top: 24px;
}

.user-navigation {
  display: flex;
  width: 445px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: flex-start;
}

.phone-container {
  width: 168px;
  padding-top: 12px;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 11px 0 0 0;
  margin: 0;
  align-items: center;
  justify-content: flex-end;
  column-gap: 17px;
  row-gap: 8px;
}

.user-menu-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.user-login-link,
.user-cart-link {
  background-color: rgba(252, 252, 252, 0.3);
  padding: 6px 17px 6px 37px;
  border-radius: 30px;
  position: relative;
}

.tel-link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0 0 14px;
  white-space: nowrap;
  display: block;
}

.entry-pic,
.cart-pic {
  position: absolute;
  left: 16px;
  top: 7px;
}

/*Gifts-for-purchase*/

.gifts-for-purchase {
  display: grid;
  grid-template-columns: 570 px 570px;
  column-gap: 30px;
}

.order-list {
  list-style-type: none;
  display: flex;
  column-gap: 30px;
  padding: 0;
  margin: 0;
}

.order-item {
  box-sizing: border-box;
  width: 570px;
  height: 268px;
  background-color: #ff7799;
  border-radius: 16px;
  padding: 12px 223px 32px 37px;
}

.raspberry-item {
  background-image: url(../images/photos/gift-raspberry.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.marshmellow-item {
  background-image: url(../images/photos/gift-marshmellow.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.gifts-title {
  grid-column: 1/-1;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 56px;
}

.free-raspberry, .free-marshmellow{
  margin-bottom: 27px;
}

.gift {
  text-decoration: none;
  color: #2d3440;
  display: inline-block;
  min-width: 106px;
  padding: 12px 32px;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.free-jam, .free-marshmellows {
  margin-bottom: 28px;
}


/*Popular-ice-creams*/

.cards-list {
  display: flex;
  list-style-type: none;
  column-gap: 40px;
  margin: 0;
  padding: 0;
}

.popular-title {
  text-align: center;
  margin-bottom: 57px;
  margin-top: 80px;
}

.card-item-link {
  list-style-type: none;
  color: black;
  text-decoration: none;
  display: block;
  margin: 0 10px;
}

.card-item {
  box-sizing: border-box;
  width: 270px;
  height: 332px;
  padding: 0 37px 24px 37px;
  position: relative;
}

.price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 188px;
  height: 32px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.add-to-cart {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border-radius: 50%;
  align-items: center;
}

.img-title {
  text-align: center;
  margin: 0;
}

.img-text {
  text-align: center;
  margin: 6px 0 17px 0;
}

.card-item img {
  margin-bottom: 11px;
}

.price {
  margin: 0;
}

.card-item::before {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 8px;
  min-height: calc(100% - 50px);
  width: 100%;
  z-index: -1;
}

.popular-ice-creams {
  margin-bottom: 77px;
}

/*Shop-info*/

.gllacy-info-title {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.shop-info {
  background-image: url(../images/photos/waffle-background-cut.jpg);
  background-repeat: repeat;
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 74px;
}

.shop-info-wrapper {
  padding-top: 57px;
  background-color: #ffffff;
  border-radius: 16px;
  min-height: 382px;
}

.info-text {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  column-gap: 21px;
}

.info-list{
  display: grid;
  grid-template-columns: 505px 505px;
  row-gap: 18px;
  column-gap: 36px;
  min-height: 278px;
  box-sizing: border-box;
  padding: 59px 40px 29px 36px;
  margin: 0;
  list-style-type: none;
}

.info-technology::before {
  background-image: url(../images/icons/ice-cream.svg);
}

.info-suppliers::before {
  background-image: url(../images/icons/cow.svg);
}

.info-ingredients::before {
  background-image: url(../images/icons/leaf.svg);
}

.info-delivery::before {
  background-image: url(../images/icons/thermometer.svg);
}

.info-text::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: right center;
  flex-shrink: 0;
}

/* News-blog */ /*Subscription*/

.blog-wrapper {
  display: flex;
  column-gap: 30px;
  margin-bottom: 81px;
}

.news-blog {
  box-sizing: border-box;
  background-image: url(../images/photos/news-blog.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 100%;
  min-height: 221px;
}

.subscription {
  display: flex;
  background-image: url(../images/photos/email-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  width: 570px;
}

.subscription-wrapper {
  min-height: 210px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 6px;
  padding: 0 27px 0 27px;
}

.subscription-text {
  margin-top: 0;
  margin-bottom: 44px;
  line-height: 22px;
  color: rgba(86, 92, 102, 1);
  padding-top: 26px;
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
}

.subscription-input:placeholder-shown {
  color: rgba(185, 185, 185, 1);
}

.subscription-input {
  border: none;
  padding: 14px 14px 14px 16px;
  outline: 1px solid rgba(185, 185, 185, 1);
  border-radius: 4px;
  width: 302px;
}

.send-btn {
  color: rgba(252, 252, 252, 1);
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
  background-color: rgba(255, 47, 100, 1);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  margin-left: auto;
  width: 155px;
  padding: 13px 12px;
}

.blog-news {
  margin: 0;
  margin-bottom: 9px;
}

.news-blog {
  margin: 0;
  width: 570px;
  padding: 33px 79px 48px 32px;
}

.news-link {
  text-decoration: none;
  color: #000000;
}

.news-text {
  margin: 0;
}


/*Delivery-form-container*/

.delivery-form-container {
  box-sizing: border-box;
  display: flex;
  column-gap: 106px;
  background-image: url(../images/photos/delivery-bg.png);
  background-repeat: no-repeat;
  padding: 64px 64px 64px 100px;
  background-color: rgba(240, 239, 240, 1);
  margin-bottom: 80px;
  border-radius: 16px;
  min-height: 534px;
}

.delivery-info-wrapper {
  width: 475px;
  padding-top: 105px;
}

.delivery-service-title,
.delivery-service-info {
  margin: 0;
  padding: 0;
}

.delivery-service-info {
  color: rgba(86, 92, 102, 1);
  width: 371px;
}

.delivery-service-title {
  margin-bottom: 23px;
}

.delivery-form-wrapper {

  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 500px;
  padding: 41px 40px 42px 40px;
}

.delivery-form-info {
  margin: 0;
  padding: 0;
  color: rgba(86, 92, 102, 1);
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 16px 287px;
  row-gap: 22px;
}

.form-field {
  width: 100%;
  outline: 1px solid rgba(185, 185, 185, 1);
  border-radius: 4px;
  border: none;
  padding: 13px 15px;
}


.date-input {
  grid-column: 1/2;
  width: 117px;
}

.tel-input {
  grid-column: 3/4;
}

.address-input {
  grid-column: 1/-1;
}

.form-btn {
  padding: 12px 12px;
  min-width: 152px;
  margin: 0 auto;
  grid-column: 1/-1;
  cursor: pointer;
  margin-top: 11px;
}






















/*Popup*/

.popup-block {
  position: relative;
}

.popup-container {
  display: none;
  position: absolute;
  top: 100%;
  padding-top: 20px;

}

.popup-block:hover .popup-container {
  display: block;
}

.popup-block:focus-within .popup-container {
  display: block;
}
